// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$font-stack:    Helvetica, sans-serif;
$primary-color: rgb(16, 9, 80);
$back-color: rgb(240, 235, 173);

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $back-color;
}

nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  
    li { display: inline-block; }
  
    a {
      padding: 6px 12px;
      text-decoration: none;
    }
  }
  